# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"

# JWT Secret for signing authentication tokens. Replace with a strong, unique secret in production.
# Generate one using: openssl rand -hex 32
JWT_SECRET="8da52592f1903061d71dd2684e4463f8a7fec724e1a9b97cb29291b58790e4c8"

# Base URL of the site
BASE_URL="http://localhost:5173"